<!-- Header -->
    <header>
        <div class="container">
            <div class="intro">
                <div class="intro-head">Triton Gaming</div>
                <div class="intro-subhead"></div>
                <a href="#about" class="page-scroll btn btn-xl">More About Us</a>
            </div>
        </div>
    </header>
    
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-6 text-center">
                    <h2 class="secthead">About</h2>
					<ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/tritonesports" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/tritonesports" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/user/tritongamingofficial" target="_blank"><i class="fa fa-youtube-square"></i></a>
                        </li>
                        </ul>
                    <h3 class="sectsub block-text">Triton Gaming is a group of collegiate organizers that have teamed up to create epic entertainment experiences for student gamers at
					the University of California, San Diego. Our organization is the product of several independent on-campus gaming organizations that each represent a different gaming genre and
					student community. Through Triton Gaming, our team strives to create an exciting, diverse, and all-inclusive gaming environment on campus through high-quality live events.</h3>
                </div>
				<div class="col-xs-12 col-md-12 col-lg-6 text-center">
				<h2 class="secthead">News</h2>
				    <div class ="col-xs-3 col-md-3 col-lg-3 thumb">
					   <a class="newsthumb" href="#">
					      <img class ="img-responsive" src="" alt="">
					   </a>
					</div>
					
				      
				   
				</div>
            </div>
        </div>
    </section>

    <!-- Store Section -->
    <section id="store">
	    <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-xs-12 col-md-12 col-lg-12 text-center">
                    <h2 class="secthead">Store</h2>
                    <h3 class="sectsub text-grayed"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-3 col-lg-3 store-item">
                    <a href="https://squareup.com/market/tritongaming" class="store-link" data-toggle="modal">
                        <div class="store-hover">
                            <div class="store-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/store/TeSPA.png" class="img-responsive" alt="">
                    </a>
                    <div class="store-caption">
                        <h4 class="text-center">TeSPA Membership</h4>
                        <p class="text-grayed">$15.00 - Pickup Only</p>
                    </div>
                </div>
				<div class="col-xs-3 col-md-3 col-lg-3 store-item">
                    <a href="https://squareup.com/market/tritongaming" class="store-link" data-toggle="modal">
                        <div class="store-hover">
                            <div class="store-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/store/Membership.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="store-caption">
                        <h4 class ="text-center">TG Membership Package</h4>
                        <p class="text-grayed">$25.00</p>
                    </div>
                </div>
				<div class="col-xs-3 col-md-3 col-lg-3 store-item">
                    <a href="https://squareup.com/market/tritongaming" class="store-link" data-toggle="modal">
                        <div class="store-hover">
                            <div class="store-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/store/card.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="store-caption">
                        <h4 class ="text-center">TG Gold Membership Card</h4>
                        <p class="text-grayed">$10.00</p>
                    </div>
                </div>
				<div class="col-xs-3 col-md-3 col-lg-3 store-item">
                    <a href="https://squareup.com/market/tritongaming" class="store-link" data-toggle="modal">
                        <div class="store-hover">
                            <div class="store-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/store/shirts.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="store-caption">
                        <h4 class ="text-center">TG 1st-Edition Membership Shirts</h4>
                        <p class="text-grayed">$20.00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divisions Section -->
    <section id="divisions">
	   
	        <div class="row">
                <div class="col-xs-12 col-md-12 col-xs-12 col-md-12 col-lg-12 text-center">
                    <h2 class="secthead">Divisions</h2>
                    <h3 class="sectsub text-grayed"></h3>
                </div>
            </div>
			        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
								    <a href="https://www.facebook.com/groups/378054608914858/" target="_blank">
                                       <img class="slide-image" src="img/about/dotacover.jpg" alt="">
									</a>
                                </div>
                                <div class="item">
								    <a href="https://www.facebook.com/groups/277948469068793/" target="_blank">
                                       <img class="slide-image" src="img/about/fpscover.jpg" alt="">
									</a>   
							    </div>
                                <div class="item">
								    <a href="https://www.facebook.com/groups/LeagueOfHearthstone/" target="_blank">
                                       <img class="slide-image" src="img/about/hearthstonecover.jpg" alt="">
									</a>
                                </div>
								<div class="item">
								    <a href="https://www.facebook.com/groups/LeagueOfTritons/" target="_blank">
                                       <img class="slide-image" src="img/about/leaguecover.jpg" alt="">
									</a>   
                                </div>
								<div class="item">
								    <a href="https://www.facebook.com/groups/834565419907484/" target="_blank">
                                       <img class="slide-image" src="img/about/mmocover.jpg" alt="">
									</a>   
                                </div>
								<div class="item">
								    <a href="https://www.facebook.com/groups/SDMelee/" target="_blank">
                                       <img class="slide-image" src="img/about/smashcover.jpg" alt="">
									</a>   
                                </div>
								<div class="item">
								    <a href="https://www.facebook.com/groups/UCSDStarcraft/" target="_blank">
                                       <img class="slide-image" src="img/about/starcraftcover.jpg" alt="">
									</a>
                                </div>
								<div class="item">
								    <a href="https://www.facebook.com/groups/192139930861110/" target="_blank">
                                       <img class="slide-image" src="img/about/vgdccover.jpg" alt="">
									</a>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </section>
	
    <!-- Sponsors Section -->
	<section id="sponsors" >
        <div class="container">
            <div class="row">
			    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
			        <h2 class="secthead">Sponsors</h2>
                    <h3 class="sectsub text-grayed"></h3>
		    </div>
			<div class="row">
                <div class="col-xs-4 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="" class="img-responsive img-centered" alt="">
                    </a>
                </div>				
                <div class="col-xs-4 col-md-4 col-lg-4">
                    <a href="http://www.tespa.org" target="_blank">
                        <img src="img/logos/TeSPA.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-xs-4 col-md-4 col-lg-4">
                    <a href="#">
                        <img src="" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                    <h2 class="secthead">The Officers</h2>
                    <h3 class="sectsub text-grayed"></h3>
                </div>
            </div>
            <div class="row">
			    {{!-- {{#each officers}}
            <div class="">
                <div class="">
                    <img src="{{officers.image}}" alt="">
                    <h4>{{officers.name}}</h4>
                    <p>{{officers.title}}</p>
                    <ul>
                        {{#if officers.facebook}}
                        <li><a href="{{facebook}}">..</a></li>
                        {{/if}}
                        {{#if instagram}}
                        <li><a href="{{instagram}}">..</a></li>
                        {{/if}}
                        {{#if twitter}}
                        <li><a href="{{twitter}}">..</a></li>
                        {{/if}}
                        .
                        .
                        .
                    </ul>
                </div>
            </div>
            {{/each}} --}}
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/KevinHe.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Kevin He</h4>
                        <p class="text-grayed">Chief Executive Officer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/he.kevin.k" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/profile/view?id=239788488" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/MartinNguyen.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Martin Nguyen</h4>
                        <p class="text-grayed">Chief Branding Officer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/DuyMartinNguyen" target="_blank"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="http://instagram.com/martininguyen" target="_blank"><i class="fa fa-instagram"></i></a>
							</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/MinaHur.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Mina Hur</h4>
                        <p class="text-grayed">Chief Operations Officer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/meanerina" target="_blank"><i class="fa fa-facebook"></i></a>
							</li>
                        </ul>
                    </div>
                </div>
			   <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/SamKo.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Samuel Ko</h4>
                        <p class="text-grayed">Chief Finance Officer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/SamuelSko" target="_blank"><i class="fa fa-facebook"></i></a>
							</li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/JeffreyHoang.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Jeffrey Hoang</h4>
                        <p class="text-grayed">Chief Competitive Officer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/Jeff0892" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/ChenLiao.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Chen-hao Liao</h4>
                        <p class="text-grayed">Chief Technologies Officer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/chenhao.liao.9" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/RaymondLiu.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Raymond Liu</h4>
                        <p class="text-grayed">Chief Community Officer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/raymond.liu.79" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/TerryLin.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Terry Lin</h4>
                        <p class="text-grayed">VP Publicity</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/orangefactor" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/AustinChinn.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Austin Chinn</h4>
                        <p class="text-grayed">VP Content</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/Chinn" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/JamesLee.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">James Lee</h4>
                        <p class="text-grayed">VP Competitive</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/profile.php?id=100000786988388" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/AndrewVan.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Andrew Van</h4>
                        <p class="text-grayed">VP Operations</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/CottontailTeemoOnDuty" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="http://instagram.com/alwaysdtf" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/NicholasLopez.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Nicholas Lopez</h4>
                        <p class="text-grayed">VP Outreach</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/nicholas.lopez.503" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/LuluYounes.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Lulu Younes</h4>
                        <p class="text-grayed">VP Streaming & MMO Director</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/lulupotato" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/AndrewChar.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Andrew Char</h4>
                        <p class="text-grayed">LoL Director</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/andrewwchar" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/TuanPham.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Tuan Pham</h4>
                        <p class="text-grayed">DOTA Director</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/epickilltime" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/JerryNg.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Jerry Ng</h4>
                        <p class="text-grayed">SC2 Director</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/ironpiggy" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/MichaelChin.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Michael Chin</h4>
                        <p class="text-grayed">Hearthstone Director</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/michael.chin.9849" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/MaxShen.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Max Shen</h4>
                        <p class="text-grayed">Smash Director</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/mxwsn" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
				<div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="officer">
                        <img src="img/team/PatrickTraynor.jpg" class="img-responsive img-circle" alt="">
                        <h4 class ="text-center">Patrick Traynor</h4>
                        <p class="text-grayed">VGDC Director</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/patrickjtraynor" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>				
			</div>	
        </div>
    </section>
